@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/shabnam/Shabnam-Light.woff2') format('woff2'),
       url('/fonts/shabnam/Shabnam-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/shabnam/Shabnam-Medium.woff2') format('woff2'),
       url('/fonts/shabnam/Shabnam-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/shabnam/Shabnam-Bold.woff2') format('woff2'),
       url('/fonts/shabnam/Shabnam-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
