@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/shabnam/Shabnam-Light.woff2') format('woff2'),
       url('/fonts/shabnam/Shabnam-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/shabnam/Shabnam-Medium.woff2') format('woff2'),
       url('/fonts/shabnam/Shabnam-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/shabnam/Shabnam-Bold.woff2') format('woff2'),
       url('/fonts/shabnam/Shabnam-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TheNautigal';
  src: url('/fonts/theNautigal/TheNautigal-Regular.ttf') format('ttf'),
       url('/fonts/theNautigal/TheNautigal-Regular.ttf') format('woff');
  font-weight: 500;
  font-style: normal;
}

.nav-link {
  @apply relative after:absolute after:left-1/2 after:-bottom-4 after:h-1.5 after:w-1.5 after:rounded-full after:bg-[#5b775e] after:opacity-0 after:-translate-x-1/2 after:transition-all after:duration-300;
}

/* دایره در hover */
.nav-link:hover::after {
  @apply opacity-100;
}

/* دایره در حالت active (لینک فعلی) */
.nav-link.active::after {
  @apply opacity-100 bg-[#5b775e]; /* رنگ متفاوت برای active */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}
